.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}
.lottie {
  height: 400px;
}

.register input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.849);
  color: rgba(255, 255, 255, 0.678);
}
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.849) !important;
}
label,a {
  color: rgba(255, 255, 255, 0.678);
}

.register h1 {
  font-size: 25px;
  color: white;
  font-weight: 600;
}
